@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

#principal{
    display: flex;
}

#container{
    background-color: #e6a748;
    max-width: 310px;
    height: 100vh;
    border-radius: 20px 0px 0px 20px;
}

#cabeçalho{
    display: flex;
    align-items: center;
    padding-left: .2em;
    padding-top: 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.342);
}

#cabeçalho img {
    width: 9em;
}

#cabeçalho h2{
    font-size: 1.4em;
    line-height: 1.1em;
    font-weight: 600;
    padding-right: 1em;
}

#perfil{
    text-align: center;
    margin-top: 2em;
}

#perfil img{
    border-radius: 50%;
    width: 8em;
}

#botões{
    padding-left: 4em;
    padding-top: 3em;
}

#botões > div{
    margin-top: 2em;
    margin-bottom: 2em;
}

#botões p{
    padding-left: .2em;
    font-size: 1.2em;
}

#dashboard{
    display: flex;
    align-items: center;
}

#dadosFuncionario{
    display: flex;
    align-items: center;

    background-color: white;
    height: 3em;
    border-radius: 10px 0px 0px 10px;
}

#dadosFuncionario > span{
    padding-left: .4em;
}

#Engajamento{
    display: flex;
    align-items: center;
}

#Usuários{
    display: flex;
    align-items: center;
}

#PainelControle{
    display: flex;
    align-items: center;
}

#mainTopo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.233);
    padding: 20px 20px;
    border-radius: 0px 20px 0px 0px;
}

#topoPerfil{
    display: flex;
    align-items: center;
}

#topoPerfil span {
    padding: 0px 10px;
}

#topoPerfil p{
    font-size: 1.2em;
}

#topoPerfil img{
    width: 1.8em;
    border-radius: 50%;
    padding: 0px 10px;
}

#mainCorpo{
    background-color: rgba(179, 168, 24, 0.274);
    height: 92.1vh;
    border-radius: 0px 0px 20px 0px;
}

#mainCorpo_Cabeçalho > h3{
    padding-left: 3em;
    padding-top: 1.7em;
    font-weight: 400;
}

#main_Quadro{
    background-color: white;
    width: 65vw;
    height: 70vh;
    margin-left: 3.9em;
    margin-top: .7em;
}

#mainQuadro_Cabeçalho{
    display: flex;
    align-items: center;

    padding-top: 1em;
    padding-left: 3em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.432);
}

#mainQuadro_Corpo{
    display: flex;

    padding-left: 2.6em;
    padding-top: 3em;
}

#mainQuadro_Corpo p{
    padding: .5em 0em;
}

#dados1{
    display: flex;
    padding-top: 1.5em;
}

#dados1 p{
    padding-right: 1em;
}

#tEstado{
    margin-left: 2em;
}

#dados2{
    display: flex;
    padding-top: 1.5em;
}

#dados2 p{
    padding-right: 1em;
}

#Tcep{
    margin-left: 2em;
}

#dados3{
    display: flex;
    margin-top: 1.6em;
}

#dadosGenero{
    padding-right: 1em;
}

.dadosSexo{
    margin: 0em 1em;
}

#ilustração img{
    width: 23em;
    padding-left: 5em;
}

#Registrar{
    margin-top: 2em;
    width: 7em;
}

@media screen and (max-width: 1540px) {
    #ilustração img{
        width: 19em;
    }
}

@media screen and (max-width: 1440px) {
    #ilustração img{
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    #mainTopo{
        width: 73vw;
    }
}